{% load static %}
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>A Pen by  santiago</title>
  <link href="https://file.myfontastic.com/R9oRbUCkRDdUFVC4UUJ2MW/icons.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/homestyle.css' %}">
</head>

<body>
  <section class='photo_container'>
	<section class='photo_header'>
		<img src="http://www.cheekyfoods.com.au/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/c/h/chocoramo_dummie.png" class='photo_user'>
		<h3 class='photo_username'>chocoramo</h3>
	</section>
	<section class='photo_image'>
		<img src='https://mir-s3-cdn-cf.behance.net/project_modules/max_3840/50c8ca44027231.58058eda64bae.jpg'>
	</section>
	<section class='photo_icons'>
		<i class="acm-heart-empty"></i>
		<i class="acm-comment"></i>
	</section>
	<h5 class='photo_likes'><span>43,000,294</span> Me gusta</h5>
	<section class='photo_comments'>
		<section class='photo_comment'>pony malta y chocoramo</section>
	</section>
	<section class='photo_add_comment'>
		<input placeholder='Agrega un comentario...'>
		<i class='acm-dots'></i>
	</section>
</section>


</body>
</html>
