{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>forms</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>

  <body>
    <form class="" acion="{% url 'index' %}" method="post">
      {% csrf_token %}
      <input type="text" name="correo" placeholder="correo electronico"><br>
      <input type="text" name="nombre_completo" placeholder="Nombre completo"><br>
      <input type="text" name="usuario" placeholder="usuario"><br>
      <input type="password" name="password" placeholder="password"><br>

    </div>
    <input type="submit" name="registrar" value="registrar">

      </div>
    </form>
  </body>
</html>
